.idea
get_from_ssh.sh
ssh_runs
default_results
default_results.csv
runs.csv
old_runs
runs
__pycache__
.venv_win
weight_matrices
changes.txt
.venv_wsl
.venv_linux
.venv
test
output
results
code_gen_util
.idea
